@use 'sass:math';

@import "~bootstrap/scss/bootstrap";
::-webkit-scrollbar{
  // color: #0AD3FF;
  background-color: #35353D;
}
::-webkit-scrollbar-thumb{
  background-color: #35353D;
  border-radius: 15px;
  border: #23232B 1px solid;
}
::-webkit-scrollbar-button{
  display: none;
}
::-webkit-scrollbar-track{
  background-color: #23232B;
  border-radius: 15px;
}

body{
  overflow-x: hidden;
}

$circleSize: 300px;  // Adjust the size of the outer circle
$smallCircleSize: 150px;  // Adjust the size of the smaller circles
$smallCircleCount: 12;  // Adjust the number of smaller circles

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@function calculatePosition($index) {
  $angle: math.div(360deg, $smallCircleCount);
  $positionX: math.sin($angle * $index) * ($circleSize  - $smallCircleSize)*2;
  $positionY: math.cos($angle * $index) * ($circleSize - $smallCircleSize)*2;
  @return $positionX, $positionY;
}
.outer-circle {
  @include circle($circleSize);
  position: relative;
  background-image: url('/images/rens.jfif');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0AD3FF;
  background-size: cover;
  border: 6px #0AD3FF solid;
  border-radius: 50%;
  
  @for $i from 1 through $smallCircleCount {
    .inner-circle:nth-child(#{$i}) {
      @include circle($smallCircleSize);
      background-color: #0AD3FF;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      
        $position: calculatePosition($i);
        left: nth($position, 1);
        top: nth($position, 2);
        transform: translate(50%, 50%);
    }
  }
}

.inner-circle > img{
  width: 111px;
  height: 111px;
}

@media screen and (max-width: 600px) {
  $circleSize: 150px;  // Adjust the size of the outer circle
  $smallCircleSize: 75px;  // Adjust the size of the smaller circles
  $smallCircleCount: 12;  // Adjust the number of smaller circles

  @function calculatePosition($index) {
    $angle: math.div(360deg, $smallCircleCount);
    $positionX: math.sin($angle * $index) * ($circleSize  - $smallCircleSize)*2;
    $positionY: math.cos($angle * $index) * ($circleSize - $smallCircleSize)*2;
    @return $positionX, $positionY;
  }

  .outer-circle {
    @include circle($circleSize);
    position: relative;
    border: 6px #0AD3FF solid;
    margin-top: 150px;
    margin-bottom: 150px;
    @for $i from 1 through $smallCircleCount {
      .inner-circle:nth-child(#{$i}) {
        @include circle($smallCircleSize);
        $position: calculatePosition($i);
        left: nth($position, 1);
        top: nth($position, 2);
        transform: translate(50%, 50%);
      }
    }
  }
  .inner-circle > img{
    width: 55px;
    height: 55px;
  }  
}
.page-holder{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #35353D;
  padding-left: 20px;
  padding-right: 20px;
}
.header > h1{
  font-size: 90px;
  color: #0AD3FF;
}
.content{
  height: 90%;
}
.circleholder{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110%;
}
.about{
  padding-left: 80px;
  h1{
    font-size: 5vw;
    color: #0AD3FF;
  }
  p{
    font-size: 1.9vw;
    color: #D5BAB2;
  }
}

nav{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  div>a{
    text-decoration: none;
    p{
      color: #FFFFFF;
      text-decoration: underline;
      text-decoration-color: #58CB00;
      text-decoration-thickness: 5px;
      text-underline-offset: 9px;
      font-size: 39px;
    }
  }
}
.persenol{
  display: flex;
  flex-direction: column;
}
.carosuel-holder{
  height: 100%;
}
.carousel-control-next, .carousel-control-prev {
  width: auto;
}
.visually-hidden{
  top: 189.29px;
  bottom: 189.29px;
}
.holder{
  display: flex;
  width: 100%;
  justify-content: center;
  .info{
    display: flex;
    margin: auto;
    width: 90%;
    height: 68vh;
    background-color: #23232B;
    border-radius: 100px;
    flex-flow: column;
    .img{
      height: 45%;
      width: 100%;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      border-radius: 100px 100px 0px 0px;
    }
    .inner-info{
      height: 80%;
      width: 100%;
      display: flex;
      flex-flow: row;
      .left{
        margin-left: 25px;
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        // gap: 50px;
        h2{
          color: #D5BAB2;
          font-size: 50px;
          margin-top: 10px;
        }
        a{
          color: #D5BAB2;
          font-size: 21px;
        }
        .button{
          color: #D5BAB2;
          width: 320px;
          height: 80px;
          background-color: #35353D;
          border-radius: 25px;
          font-size: 40px;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .button-holder{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          .button{
            width: 200px;
            height: 60px;
            border-radius: 20px;
          } 
        }
      }
      .right{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h3{
          color: #D5BAB2;
        }
        p{
          color: #D5BAB2;
          font-size: 1.2vw;
          width: 90%;
        }
        .labels{
          display: flex;
          flex-flow: nowrap row;
          width: 50%;
          height: 10%;
          margin-top: 20px;
          img{
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}
.next{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: auto;
*{
  font-size: 100px;
}
}
.carousel-item:nth-child(1)>.holder>.info>.img{
  background: url('../images/site1.png');
}
.carousel-item:nth-child(2)>.holder>.info>.img{
  background: url('../images/site2.png');
}
.carousel-item:nth-child(3)>.holder>.info>.img{
  background: url('../images/site3.png');
}
.material-symbols-outlined{
  color: #000;
  text-decoration: none;
}

.pointer {
  width: 90%;
  height: 40px;
  position: relative;
  margin-top: auto;
}
.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #35353D;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.life-holder{
  height: 75%;
  width: 100%;
  .life-experiences{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 1s;
    h2{
      font-size: 55px;
      font-weight: bold;
    }
    .experience-holder{
      display: flex;
      flex-direction: row;
      height: 100%;
      overflow-x: auto;
      .experiences{
        overflow: none;
        height: 80%;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex: none;
        h3{
          color: #D5BAB2;
          font-size: 1.4vw;
        }
        p{
          color: #D5BAB2;
          font-size: 1vw;
          padding: 0 5px;
        }
      }
      .hidExperiences{
        display: none;
        width: 25%;
      }
    }
  }
  .life-experiences:hover{
    transform: scale(1.05);
  }

  $bannerCollor: '#ff4242', '#A589DD', '#0AD3FF', '#58CB00';
  $experience: 4;
  @for $i from 1 through $experience{
    .life-experiences:nth-child(#{$i}){
      h2{
        color: unquote(nth($bannerCollor,$i));
      }
      .experiences{
        .pointer{
          background-color: unquote(nth($bannerCollor,$i));
        }
        .pointer:before{
          border-left: unquote(nth($bannerCollor,$i)) 20px solid;
        }
      }
    }
  }
}

.contact{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .contact-form{
    width: 85%;
    height: 75%;
    display: flex;
    flex-direction: row;
    background-color: #23232B;
    border-radius: 50px;
    .contact-left{
      width: 50%;
      height: 100%;
      form{
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        label{
          font-size: 25px;
          font-weight: bold;
          color: #58CB00;
        }
        input{
          background-color: #D5BAB2;
          color: #35353D;
          border-radius: 20px;
          height: 45px;
          font-size: 22px;
        }
        textarea{
          background-color: #D5BAB2;
          color: #35353D;
          border-radius: 20px;
          height: 130px;
          font-size: 22px;
        }
        button{
          display: flex;
          align-items: center;
          justify-content: center;
          color: #35353D;
          width: 457px;
          height: 63px;
          background-color: #58CB00;
          border-radius: 25px;
          font-size: 50px;
        }
      }
    }
    .contact-right{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      p{
        color: #58CB00;
        font-size: 25px;
        font-weight: bold;
      }
      .icon-holder{
        display: flex;
        flex-direction: row;
        width: 40%;
        justify-content: space-between;
        .icons{
          height: 60px;
          width: 60px;
          img{
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}


// made by anthony schuurmans
.popup-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: none;
  background-color: #975489;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 2px 20px 6px rgb(0 0 0);
  padding: 15px;
  text-align: center;
  z-index: 99;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.popup-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
}
.popup-content {
  font-family: joystix;
  font-size: 14px;
}


// https://codepen.io/w3core/pen/ZbJeXm
@keyframes jump {
  0%   {transform: translate3d(0,0,0)}
  20%  {transform: translate3d(0,-25%,0)}
  40% {transform: translate3d(0,-50%,0)}
  60% {transform: translate3d(0,-25%, 0);}
  80% {transform: translate3d(0, 0, 0);}
  100% {transform: translate3d(0, 0, 0);}
}
.jump {
  animation-delay: 2s;
  transform-origin: 50% 50%;
  animation: jump 2s linear normal 7;
}


@media screen and (max-width: 600px) {
  #carouselExampleControls>button{
    display: none;
  }
  nav{
    display: none;
  }
  .page-holder{
    height: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .about{
    padding-left: 0px;
    h1{
      font-size: 65px;
    }
    p{
      font-size: 30px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .next{
    display: none;
  }
  .header > h1{
    font-size: 50px;
  }
  .holder{
    .info{
      width: 100%;
      height: 75%;
      border-radius: 75px;
      .img{
        height: 100px;
        width: 100%;
        border-radius: 75px 75px 0px 0px;
      }
      .inner-info{
        height: 80%;
        width: 100%;
        .left{
          gap: 15px;
          h2{
            font-size: 30px;
            margin-top: 20px;
          }
          a{
            font-size: 13px;
          }
          .button{
            width: 135px;
            height: 45px;
            border-radius: 12.5px;
            font-size: 20px;
          }
          .button-holder{
            .button{
              width: 70px;
            }
          }
        }
        .right{
          p{
            font-size: 15px;
            width: 95%;
            padding-bottom: 25px;
          }
          .labels{
            margin-top: 10px;
            img{
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }

  .pointer {
    height: 30px;
  }
  .pointer:after {
    border-left: 15px solid #35353D;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .pointer:before {
    content: "";
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  
  .life-holder{
    height: 75%;
    width: 100%;
    padding-left: 5px !important;
    padding-right: 5px !important;
    .life-experiences{
      padding: 10px;
      h2{
        font-size: 50px;
      }
      .experience-holder{
        .experiences{
          height: 100%;
          h3{
            font-size: 25px;
            margin-bottom: 3px;
          }
          p{
            font-size: 23px;
            margin: 0;
          }
        }
      }
    }
  
    $bannerCollor: '#ff4242', '#A589DD', '#0AD3FF', '#58CB00';
    $experience: 4;
    @for $i from 1 through $experience{
      .life-experiences:nth-child(#{$i}){
        .experiences > .pointer:before{
          border-left: unquote(nth($bannerCollor,$i)) 15px solid;
        } 
      }
    }
  }

  .contact{
    width: 100%;
    height: 85%;
    .contact-form{
      width: 100%;
      height: 400px;
      border-radius: 25px;
      margin-bottom: 50px;
      .contact-left{
        width: 50%;
        height: 100%;
        form{
          height: 100%;
          width: 100%;
          label{
            font-size: 21.5px;
          }
          input{
            border-radius: 10px;
            height: 36px;
            font-size: 14px;
          }
          textarea{
            border-radius: 10px;
            height: 100px;
            font-size: 14px;
          }
          button{
            width: 200px;
            height: 40px;
            border-radius: 12.5px;
            font-size: 25px;
          }
        }
      }
      .contact-right{
        width: 50%;
        height: 100%;
        p{
          font-size: 12.5px;
        }
        .icon-holder{
          width: 100%;
          .icons{
            height: 45px;
            width: 45px;
            img{
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}